* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    outline: none !important;
}

#content-wrap {
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-fluid {
    padding: 0 75px;
    // height: ;
}

.form-control {
    border-radius: 30px;
}

.input-group-text {
    border-radius: 30px;
}

.nav-link {
    padding: 12px;
    color:black;
    &:hover, &:focus {
        color:red;
    }
}

.nav-item {
    padding: 0 0.75rem;
}

.navbar-logo {
    width: 200px;
    height: 60px;
}

.strong {
    font-weight: bold;
}

header:hover {
    color: red !important;
}

.max-w-120 {
    max-width: 120% !important;
}

.carousel-indicators [data-bs-target] {
    background-color: white;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 100%;
    opacity: 1;
    &.active {
        background-color: red;
    }
}

.carousel-caption {
    color: black;    
    bottom: 30%;
    left: 12%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    text-align: start;
    @media (min-width: 768px) {
        bottom: none;
    }
}

.btn-shop-now {
    background-color: red;
    border-radius: 20px;
    color: white;
    font-size: 0.9rem;
    &:hover {
        background-color: black; 
        color: white;
    }
}

.card-title {    
    &:hover {
        color: red;
        cursor: pointer;
    }
}

.swiper-button-prev {
    position: absolute;
}

.btn-primary {
    padding: 0;
    background-color:white;
    border: white;
    color:black;
    font-size: 14px;  
    &:hover {
        background-color: white;
        color: red;
        position:relative;
        left: 10px;    
    } 
    svg {
        color:red;
    }
}

.category {
    overflow: hidden;
    white-space: normal!important;
    font-size: 12px!important;
    line-height: 1!important;  
    max-height: 12px;
    text-transform: uppercase;
    margin-bottom: 10px!important;
    font-style: normal!important;  
    text-align: center;  
    & a {
        color: black;
        opacity: 0.6;
        &:hover {
            color: red; 
            opacity: 1;       
        }
    }
}

.title {
    text-transform: capitalize;
    line-height: 18px!important;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 18px;
    font-weight: 700;
    font-size: 14px!important;
    text-align: center;
    & a {
        color: black; 
        text-decoration: none;      
        &:hover {
            color: red;              
        }
    }
}

.inner {
    text-align: center;
}

.price {
    font-weight: 400;
    line-height: 20px;
    font-size: 15px;
}

.border_hover {
    &:hover {
        border:1px solid red;     
        cursor: pointer;
        transition: 0.3s;
    }
    transition: 0.3s;
}

.site-logo {
    width: 200px;
    height: 60px;
}

.footer__phone,
.footer__email,
.footer__address,
.footer__mode {
    font-size: 1.2rem;
    color: #253237;
    margin-bottom: 10px;
    & i::before {
        color:red;
        margin-right: 10px;
    }
}  

.footer__title {
    padding-left: 0;
    border-left: 0;
    border-right: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #e3e3e3;
    position: relative;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 16px;
    color: #253237;
    line-height: 1.5;
    text-transform: capitalize;
    &::before {
        content: '';
        width: 60px;
        height: 2px;
        background-color: #ef1e1e;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.social {
    :hover {
        color: red;
        transition: 0.2s;
    }
}

// blog style

.bg__wrapper {
    background: center center no-repeat url('/wp-content/themes/jaluzi24/app/imgoptimize/page-title.jpg');
    padding: 110px 0; 
}

.page {		
		
    &__heading{
        font-size: 30px;
        color: #253237;
        margin-bottom: 10px;
        font-weight: 600;
    }
}

.breadcrumb-item {
    color: #253237;
    font-size: 14px;
}
.breadcrumb-item.active {
    color: #ef1e1e;
}

// переопределил цвет ссылок woocomerce 

a{
    color: #253237;
        &:hover{
            color: #ef1e1e;
        }
}
ul li {
    margin: 0;
    padding: 0; 
}

// конец блока

.widget {

    // .widget__sidebar

    &__sidebar {
        padding-right: 30px;
    }

    // .widget__search

    &__search {
        background-color: rgba(255, 255, 255, 1)!important;
        color: #253237!important;
        border-radius: 30px;
        border: 1px solid #ebebeb!important;
        width: 100%;
        padding: 0 15px;
        margin-bottom: 40px;
    }
}
.categories {

    // .categories__wrapper

    &__wrapper {
        
    }

    // .categories__title

    
}
.category {

    // .category__list

    &__list {
        margin-bottom: 40px;
        
    }

    // .category__item

    &__item {
        list-style: none;
        margin-bottom: 8px;
        line-height: 1.5;
    }

    // .category__link

    &__link {
    }
}

.block__title {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #253237;
    letter-spacing: 1px;
    margin: 0 0 20px;
}
.recent__post > h4{
    margin: 0 0 20px;
}

.post {

    &__list{
        margin-left: 0;
    }

    // .post__item

    &__item {
        display: flex;    
        padding: 0 0 15px 0;
        margin-bottom: 15px;
            &:not(:last-child){
                border-bottom: 1px solid #e9e9e9;
            }
    }


    // .post__link

    &__link {
    }

    // .post__image

    &__image {
        max-width: 80px;
        margin-right: 15px;
        box-sizing: border-box;
    }

    // .post__description

    &__description {
        max-width: 215px;
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
        margin: 0;
    }

    // .post__date

    &__date {
        font-size: 13px;
        color: #aaa;
        margin: 0;
    }
}
.description {

    // .description__block

    &__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
                
    }
}

// Статья

.blog__entry {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e9e9e9
}

.entry__image{
    padding-left: 0;
}

.category__title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.6px;
    line-height: 1.2em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #ef1e1e;
    &:hover {
        color: #253237;
    }
}

.entry__link {
    font-weight: 700;
    font-size: 18px;
    color: #253237;
    text-transform: capitalize;
}

.entry__preview {
    margin-bottom: 15px;
    border-bottom: 1px solid #e9e9e9;
}

.entry__bottom {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

ul.meta {
    display: inline-block;
    width: 100%;
    color: #777;
    font-size: 14px;
    line-height: 1;
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    li {
        float:left; 
        line-height: 1.3;
        & i::before {
            color:red;
        }
    }
    li:not(:last-child):after {
        content: '-';
        padding: 0 6px;
    }

}

.theme-heading {
    font-size: 18px;
    letter-spacing: 1.3px;
    font-weight: 600;
    margin: 0 0 20px;
    text-transform: uppercase;
}

.text {
    & i::before {
        color: red;
        font-weight: 800!important;
    }
}

.comment-form {
    & textarea, input {
        background-color: #fff!important;
        color: #253237!important;
        border-radius: 30px;
        border: 1px solid #ebebeb!important;
        width: 100%;
    }
}

.related-post-title {  
    & a {
        font-size: 16px;
        font-weight: 600!important;      
    }   
}

button.submit {
    border-radius: 30px;
    background-color: #253237!important;
    color:white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    &:hover {
        background-color: #ef1e1e !important;
    }   
}

// Страница товара

.single-post-title {
    font-weight: 600;
    color: #253237;
    line-height: 1;
    text-transform: capitalize;
}

.price {
    font-size: 22px;
}

.textproduct {
    & ul {
        margin: 0;
        i::before {
            color:red;
        }
    }
}

.btn-quantity > * {
    line-height: 48px;
    font-size: 20px;
    display: block;
    float: left;
    width: 45px;
    min-height: 36px;
    background-color: transparent;
    border: 1px solid #e4e4e4;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.minus {
    border-radius: 30px 0 0 30px;
    border-right-width: 0;
    color: #777;
}

.plus {
    border-radius: 0 30px 30px 0;
    border-left-width: 0;
    color: #777;
}


.single_add_to_cart_button {
    height: 50px;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-right: 10px;
    text-transform: uppercase;
    letter-spacing: 0;
    background-color: #ef1e1e;
    color:white;
    border-radius: 30px;
    &:hover {
        background-color: #253237;
        color:white;
    }
}

.product_meta {
    span {
    display: block;
    font-size: 15px;
    font-weight: 600;
    }
    .sku {
        font-weight: 400; 
    }
    .posted_in a,
    .tagged_as a {
        color: #ababab;
        font-weight: 400;
        &:hover {
            color: red;
        }
    }
}

.product-share {
    & ul {
        margin: 0;
        &::before {
            content: "Share";
            display: inline-block;
            margin-right: 1rem;
            color: #253237;
            font-size: 16px;
            line-height: 30px;
            font-weight: 700; 
        }
        & li {
            display: inline;
            margin-right: 1rem;
            i {
                color: #b4b4b4; 
                &:hover {
                    color:red;
                } 
            }         
        }        
    }
}

.box {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px dashed #ef1e1e;
    text-align: center;
    & i {
        color: #888;
        font-size: 45px;
        display: block;
    }
    span {
        font-size: 18px;
        color: #253237;
    }
}

ul.tabs {
    border: none;
    display: block;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    z-index: 1;
    margin: 0;
    & li {
        white-space: nowrap;
        display: inline-block;
        padding: 0px 20px;
        &.active > a {
            color: #253237!important;
        }
        &.active > a::after {
            transform: scaleX(1);
        }
        & a {
            font-size: 18px;
            line-height: 24px;
            font-weight: 700;
            border: none;
            text-transform: uppercase;
            padding: 0 0 20px;
            color: #888;
            display: inline-block;
            position: relative;            
            &::after {
                content: '';
                width: 100%;
                height: 2px;
                display: block;
                background-color: #ef1e1e;        
                transform: scaleX(0);              
                transition: transform 0.3s;
                transform-origin: 50%;
                position: absolute;
                bottom: 0;
            }
        }
    }
}

ol.commentlist {
    width: 100%;
    background: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.comment_container {
    position: relative;
    border-bottom: 1px solid;
    margin-bottom: 15px;
    font-size: 90%;
    min-height: 85px;
    padding-left: 90px;
    border-color: #eaeaea;
    display: flex;
}

img.avatar {
    position: absolute;
    left: 0;
    border-radius: 50%;
}

.about-brands-content > h4 {
    font-weight: 600;
    margin: 0 0 20px;
    color: #333;
    line-height: 1.4;
}

// Cопутствующие товары

.related-products {
    margin-top: 70px;
    & h2 {
        text-align: center;
        margin-bottom: 30px;
        font-size: 24px;
        text-transform: capitalize;
        font-weight: 600;
        line-height: 1;
        position: relative;
        padding-bottom: 15px;
        &::before {
            content: '';
            width: 40px;
            height: 2px;
            background-color: #ef1e1e;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.breadcrumb_last {
    color: #ef1e1e;
}

.woocommerce-product-gallery__trigger {
    display: inline-block;
    font-family: 'FontAwesome';
    font-size: inherit;
    text-rendering: auto;
    display: block;
    content: '\f002';
    line-height: 32px;
    text-indent: 0;
    position: absolute;
    z-index: 1;
    left: 15px;
}

.form-submit {
    float: left;
    & input {
        color: #fff!important;
        background-color: #253237!important;        
        &:hover {
            background-color: #ef1e1e!important;
        }
    }    
}

ul.products {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    & li.product {
        flex: 0 0 23%;
        margin-right: 2%
    }
}


    