.wpcf7 .screen-reader-response {
position: absolute;
overflow: hidden;
clip: rect(1px, 1px, 1px, 1px);
clip-path: inset(50%);
height: 1px;
width: 1px;
margin: -1px;
padding: 0;
border: 0;
word-wrap: normal !important;
}
.wpcf7 form .wpcf7-response-output {
margin: 2em 0.5em 1em;
padding: 0.2em 1em;
border: 2px solid #00a0d2; }
.wpcf7 form.init .wpcf7-response-output,
.wpcf7 form.resetting .wpcf7-response-output,
.wpcf7 form.submitting .wpcf7-response-output {
display: none;
}
.wpcf7 form.sent .wpcf7-response-output {
border-color: #46b450; }
.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
border-color: #dc3232; }
.wpcf7 form.spam .wpcf7-response-output {
border-color: #f56e28; }
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
border-color: #ffb900; }
.wpcf7-form-control-wrap {
position: relative;
}
.wpcf7-not-valid-tip {
color: #dc3232; font-size: 1em;
font-weight: normal;
display: block;
}
.use-floating-validation-tip .wpcf7-not-valid-tip {
position: relative;
top: -2ex;
left: 1em;
z-index: 100;
border: 1px solid #dc3232;
background: #fff;
padding: .2em .8em;
width: 24em;
}
.wpcf7-list-item {
display: inline-block;
margin: 0 0 0 1em;
}
.wpcf7-list-item-label::before,
.wpcf7-list-item-label::after {
content: " ";
}
.wpcf7-spinner {
visibility: hidden;
display: inline-block;
background-color: #23282d; opacity: 0.75;
width: 24px;
height: 24px;
border: none;
border-radius: 100%;
padding: 0;
margin: 0 24px;
position: relative;
}
form.submitting .wpcf7-spinner {
visibility: visible;
}
.wpcf7-spinner::before {
content: '';
position: absolute;
background-color: #fbfbfc; top: 4px;
left: 4px;
width: 6px;
height: 6px;
border: none;
border-radius: 100%;
transform-origin: 8px 8px;
animation-name: spin;
animation-duration: 1000ms;
animation-timing-function: linear;
animation-iteration-count: infinite;
}
@media (prefers-reduced-motion: reduce) {
.wpcf7-spinner::before {
animation-name: blink;
animation-duration: 2000ms;
}
}
@keyframes spin {
from {
transform: rotate(0deg);
}
to {
transform: rotate(360deg);
}
}
@keyframes blink {
from {
opacity: 0;
}
50% {
opacity: 1;
}
to {
opacity: 0;
}
}
.wpcf7 input[type="file"] {
cursor: pointer;
}
.wpcf7 input[type="file"]:disabled {
cursor: default;
}
.wpcf7 .wpcf7-submit:disabled {
cursor: not-allowed;
}
.wpcf7 input[type="url"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"] {
direction: ltr;
}.mfp-bg {
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1042;
overflow: hidden;
position: fixed;
background: #0b0b0b;
opacity: 0.8; }
.mfp-wrap {
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1043;
position: fixed;
outline: none !important;
-webkit-backface-visibility: hidden; }
.mfp-container {
text-align: center;
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
padding: 0 8px;
box-sizing: border-box; }
.mfp-container:before {
content: '';
display: inline-block;
height: 100%;
vertical-align: middle; }
.mfp-align-top .mfp-container:before {
display: none; }
.mfp-content {
position: relative;
display: inline-block;
vertical-align: middle;
margin: 0 auto;
text-align: left;
z-index: 1045; }
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
width: 100%;
cursor: auto; }
.mfp-ajax-cur {
cursor: progress; }
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
cursor: -moz-zoom-out;
cursor: -webkit-zoom-out;
cursor: zoom-out; }
.mfp-zoom {
cursor: pointer;
cursor: -webkit-zoom-in;
cursor: -moz-zoom-in;
cursor: zoom-in; }
.mfp-auto-cursor .mfp-content {
cursor: auto; }
.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
-webkit-user-select: none;
-moz-user-select: none;
user-select: none; }
.mfp-loading.mfp-figure {
display: none; }
.mfp-hide {
display: none !important; }
.mfp-preloader {
color: #CCC;
position: absolute;
top: 50%;
width: auto;
text-align: center;
margin-top: -0.8em;
left: 8px;
right: 8px;
z-index: 1044; }
.mfp-preloader a {
color: #CCC; }
.mfp-preloader a:hover {
color: #FFF; }
.mfp-s-ready .mfp-preloader {
display: none; }
.mfp-s-error .mfp-content {
display: none; }
button.mfp-close,
button.mfp-arrow {
overflow: visible;
cursor: pointer;
background: transparent;
border: 0;
-webkit-appearance: none;
display: block;
outline: none;
padding: 0;
z-index: 1046;
box-shadow: none;
touch-action: manipulation; }
button::-moz-focus-inner {
padding: 0;
border: 0; }
.mfp-close {
width: 44px;
height: 44px;
line-height: 44px;
position: absolute;
right: 0;
top: 0;
text-decoration: none;
text-align: center;
opacity: 0.65;
padding: 0 0 18px 10px;
color: #FFF;
font-style: normal;
font-size: 28px;
font-family: Arial, Baskerville, monospace; }
.mfp-close:hover,
.mfp-close:focus {
opacity: 1; }
.mfp-close:active {
top: 1px; }
.mfp-close-btn-in .mfp-close {
color: #333; }
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
color: #FFF;
right: -6px;
text-align: right;
padding-right: 6px;
width: 100%; }
.mfp-counter {
position: absolute;
top: 0;
right: 0;
color: #CCC;
font-size: 12px;
line-height: 18px;
white-space: nowrap; }
.mfp-arrow {
position: absolute;
opacity: 0.65;
margin: 0;
top: 50%;
margin-top: -55px;
padding: 0;
width: 90px;
height: 110px;
-webkit-tap-highlight-color: transparent; }
.mfp-arrow:active {
margin-top: -54px; }
.mfp-arrow:hover,
.mfp-arrow:focus {
opacity: 1; }
.mfp-arrow:before,
.mfp-arrow:after {
content: '';
display: block;
width: 0;
height: 0;
position: absolute;
left: 0;
top: 0;
margin-top: 35px;
margin-left: 35px;
border: medium inset transparent; }
.mfp-arrow:after {
border-top-width: 13px;
border-bottom-width: 13px;
top: 8px; }
.mfp-arrow:before {
border-top-width: 21px;
border-bottom-width: 21px;
opacity: 0.7; }
.mfp-arrow-left {
left: 0; }
.mfp-arrow-left:after {
border-right: 17px solid #FFF;
margin-left: 31px; }
.mfp-arrow-left:before {
margin-left: 25px;
border-right: 27px solid #3F3F3F; }
.mfp-arrow-right {
right: 0; }
.mfp-arrow-right:after {
border-left: 17px solid #FFF;
margin-left: 39px; }
.mfp-arrow-right:before {
border-left: 27px solid #3F3F3F; }
.mfp-iframe-holder {
padding-top: 40px;
padding-bottom: 40px; }
.mfp-iframe-holder .mfp-content {
line-height: 0;
width: 100%;
max-width: 900px; }
.mfp-iframe-holder .mfp-close {
top: -40px; }
.mfp-iframe-scaler {
width: 100%;
height: 0;
overflow: hidden;
padding-top: 56.25%; }
.mfp-iframe-scaler iframe {
position: absolute;
display: block;
top: 0;
left: 0;
width: 100%;
height: 100%;
box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
background: #000; } img.mfp-img {
width: auto;
max-width: 100%;
height: auto;
display: block;
line-height: 0;
box-sizing: border-box;
padding: 40px 0 40px;
margin: 0 auto; } .mfp-figure {
line-height: 0; }
.mfp-figure:after {
content: '';
position: absolute;
left: 0;
top: 40px;
bottom: 40px;
display: block;
right: 0;
width: auto;
height: auto;
z-index: -1;
box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
background: #444; }
.mfp-figure small {
color: #BDBDBD;
display: block;
font-size: 12px;
line-height: 14px; }
.mfp-figure figure {
margin: 0; }
.mfp-bottom-bar {
margin-top: -36px;
position: absolute;
top: 100%;
left: 0;
width: 100%;
cursor: auto; }
.mfp-title {
text-align: left;
line-height: 18px;
color: #F3F3F3;
word-wrap: break-word;
padding-right: 36px; }
.mfp-image-holder .mfp-content {
max-width: 100%; }
.mfp-gallery .mfp-image-holder .mfp-figure {
cursor: pointer; }
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) { .mfp-img-mobile .mfp-image-holder {
padding-left: 0;
padding-right: 0; }
.mfp-img-mobile img.mfp-img {
padding: 0; }
.mfp-img-mobile .mfp-figure:after {
top: 0;
bottom: 0; }
.mfp-img-mobile .mfp-figure small {
display: inline;
margin-left: 5px; }
.mfp-img-mobile .mfp-bottom-bar {
background: rgba(0, 0, 0, 0.6);
bottom: 0;
margin: 0;
top: auto;
padding: 3px 5px;
position: fixed;
box-sizing: border-box; }
.mfp-img-mobile .mfp-bottom-bar:empty {
padding: 0; }
.mfp-img-mobile .mfp-counter {
right: 5px;
top: 3px; }
.mfp-img-mobile .mfp-close {
top: 0;
right: 0;
width: 35px;
height: 35px;
line-height: 35px;
background: rgba(0, 0, 0, 0.6);
position: fixed;
text-align: center;
padding: 0; } }
@media all and (max-width: 900px) {
.mfp-arrow {
-webkit-transform: scale(0.75);
transform: scale(0.75); }
.mfp-arrow-left {
-webkit-transform-origin: 0;
transform-origin: 0; }
.mfp-arrow-right {
-webkit-transform-origin: 100%;
transform-origin: 100%; }
.mfp-container {
padding-left: 6px;
padding-right: 6px; } }.ps {
overflow: hidden !important;
overflow-anchor: none;
-ms-overflow-style: none;
touch-action: auto;
-ms-touch-action: auto;
} .ps__rail-x {
display: none;
opacity: 0;
transition: background-color .2s linear, opacity .2s linear;
-webkit-transition: background-color .2s linear, opacity .2s linear;
height: 15px; bottom: 0px; position: absolute;
}
.ps__rail-y {
display: none;
opacity: 0;
transition: background-color .2s linear, opacity .2s linear;
-webkit-transition: background-color .2s linear, opacity .2s linear;
width: 8px; right: 0; position: absolute;
border-radius: 6px;
}
.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
display: block;
background-color: transparent;
}
.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
opacity: 0.6;
}
.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
background-color: #eee;
opacity: 0.9;
} .ps__thumb-x {
background-color: #aaa;
border-radius: 6px;
transition: background-color .2s linear, height .2s ease-in-out;
-webkit-transition: background-color .2s linear, height .2s ease-in-out;
height: 6px; bottom: 2px; position: absolute;
}
.ps__thumb-y {
background-color: #aaa;
border-radius: 6px;
transition: background-color .2s linear, width .2s ease-in-out;
-webkit-transition: background-color .2s linear, width .2s ease-in-out;
width: 6px; right: 1px; position: absolute;
}
.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
background-color: #999;
height: 11px;
}
.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
background-color: #999;
width: 6px;
} @supports (-ms-overflow-style: none) {
.ps {
overflow: auto !important;
}
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.ps {
overflow: auto !important;
}
}@font-face{font-family:fontello;src:url(//jaluzi-test.mcdir.ru/wp-content/plugins/woo-quickview/public/assets/font/fontello.eot?40398021);src:url(//jaluzi-test.mcdir.ru/wp-content/plugins/woo-quickview/public/assets/font/fontello.eot?40398021#iefix) format('embedded-opentype'),url(//jaluzi-test.mcdir.ru/wp-content/plugins/woo-quickview/public/assets/font/fontello.woff2?40398021) format('woff2'),url(//jaluzi-test.mcdir.ru/wp-content/plugins/woo-quickview/public/assets/font/fontello.woff?40398021) format('woff'),url(//jaluzi-test.mcdir.ru/wp-content/plugins/woo-quickview/public/assets/font/fontello.ttf?40398021) format('truetype'),url(//jaluzi-test.mcdir.ru/wp-content/plugins/woo-quickview/public/assets/font/fontello.svg?40398021#fontello) format('svg');font-weight:400;font-style:normal}[class*=" icon-"]:before,[class^=icon-]:before{font-family:fontello;font-style:normal;font-weight:400;speak:never;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center;font-variant:normal;text-transform:none;line-height:1em;margin-left:.2em;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.icon-4:before{content:'\e803'}.sp-wqv-content {
position: relative;
width: 90%;
margin: 0 auto;
padding: 0px;
max-width: 900px;
max-height: 450px;
box-sizing: border-box;
display: flex;
}
.wqv-product-info,
.wqv-product-images {
height: auto;
}
.wqv-product-images {
width: 50%;
overflow: hidden;
position: relative;
}
.wqv-product-images img {
border-radius: 0 !important;
box-shadow: inherit !important;
display: block;
width: 100%;
}
.wqv-product-info {
width: 50%;
overflow: auto;
margin: 0;
padding: 20px;
}
.wqv-product-info .wqv-product-content {
height: 100%;
overflow-x: hidden;
overflow-y: auto;
position: relative;
padding: 0;
}
.wqv-product-info form.cart {
overflow: hidden;
}
.wqv-product-info table.variations tbody td {
padding-left: 0;
background: transparent;
}
.wqv-product-info .woocommerce-variation-price {
margin-bottom: 10px;
}
.wqv-product-info .quantity .minus,
.wqv-product-info .quantity .plus {
display: none !important;
}
.wqv-product-info .quantity .qty {
max-width: 60px;
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px;
margin: 0 10px 0 0;
padding: 0 4px;
background-color: #f2f2f2;
color: #43454b;
outline: 0;
border: 0;
-webkit-appearance: none;
box-sizing: border-box;
font-weight: 400;
box-shadow: 0 0 0;
line-height: 40px;
text-align: center;
}
.wqv-product-info .quantity {
float: left;
display: inline;
width: auto;
min-width: inherit !important;
border: none;
padding: 0;
margin: 0;
}
.wqvp-product-info .product_meta>span {
display: block;
padding: 6px 0px;
border-top: 1px solid #eaecee;
}
.wqv-product-info .woocommerce-product-rating {
margin-bottom: 20px;
}
.wqv-product-info .woocommerce-product-rating .woocommerce-review-link {
display: none !important;
}
.wqv-product-info .button {
border: none;
cursor: pointer;
max-width: 100%;
border-radius: 1px;
display: inline-block;
opacity: 1;
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear;
}
.wqv-product-info .button:focus {
outline: 0;
}
#sp-wqv-view-button.sp-wqv-view-button.button.before_add_to_cart,
#sp-wqv-view-button.sp-wqv-view-button.button.after_add_to_cart,
#wps-slider-section .sp-wqv-view-button.button.before_add_to_cart,
#wps-slider-section .sp-wqv-view-button.button.after_add_to_cart,
#wpsp-slider-section .sp-wqv-view-button.button.before_add_to_cart,
#wpsp-slider-section .sp-wqv-view-button.button.after_add_to_cart {
display: inline-block;
}
#sp-wqv-view-button.sp-wqv-view-button.button.before_add_to_cart,
#wps-slider-section .sp-wqv-view-button.button.before_add_to_cart,
#wpsp-slider-section .sp-wqv-view-button.button.before_add_to_cart {
margin-right: 5px;
}
#sp-wqv-view-button.sp-wqv-view-button.button.after_add_to_cart,
#wps-slider-section .sp-wqv-view-button.button.after_add_to_cart,
#wpsp-slider-section .sp-wqv-view-button.button.after_add_to_cart {
margin-left: 5px;
}
#sp-wqv-view-button.sp-wqv-view-button.button,
#wps-slider-section .sp-wqv-view-button.button,
#wpsp-slider-section .sp-wqv-view-button.button {
font-size: 14px;
line-height: 19px;
text-align: center;
font-weight: 600;
padding: 9px 17px 9px 17px;
display: inline-block;
cursor: pointer;
max-width: 100%;
border-radius: 1px;
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear;
}
#sp-wqv-view-button.sp-wqv-view-button.button:focus,
#sp-wqv-view-button.sp-wqv-view-button.button:hover,
#sp-wqv-view-button.sp-wqv-view-button.button:active,
#wps-slider-section .sp-wqv-view-button.button:focus,
#wps-slider-section .sp-wqv-view-button.button:hover,
#wps-slider-section .sp-wqv-view-button.button:active,
#wpsp-slider-section .sp-wqv-view-button.button:focus,
#wpsp-slider-section .sp-wqv-view-button.button:hover,
#wpsp-slider-section .sp-wqv-view-button.button:active {
outline: 0;
text-decoration: none;
} .mfp-fade {   }
.mfp-fade.mfp-bg {
opacity: 0;
-webkit-transition: all 0.15s ease-out;
-moz-transition: all 0.15s ease-out;
transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
opacity: 0;
}
.mfp-fade.mfp-wrap .mfp-content {
opacity: 0;
-webkit-transition: all 0.15s ease-out;
-moz-transition: all 0.15s ease-out;
transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
opacity: 0;
} .mfp-zoom-in {   }
.mfp-zoom-in .mfp-with-anim {
opacity: 0;
transition: all 0.2s ease-in-out;
transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
opacity: 0;
transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
opacity: 1;
transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
transform: scale(0.8);
opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
opacity: 0;
} .mfp-newspaper {   }
.mfp-newspaper .mfp-with-anim {
opacity: 0;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.5s;
transform: scale(0) rotate(500deg);
}
.mfp-newspaper.mfp-bg {
opacity: 0;
transition: all 0.5s;
}
.mfp-newspaper.mfp-ready .mfp-with-anim {
opacity: 1;
transform: scale(1) rotate(0deg);
}
.mfp-newspaper.mfp-ready.mfp-bg {
opacity: 0.8;
}
.mfp-newspaper.mfp-removing .mfp-with-anim {
transform: scale(0) rotate(500deg);
opacity: 0;
}
.mfp-newspaper.mfp-removing.mfp-bg {
opacity: 0;
} .mfp-move-horizontal {   }
.mfp-move-horizontal .mfp-with-anim {
opacity: 0;
transition: all 0.3s;
transform: translateX(-50px);
}
.mfp-move-horizontal.mfp-bg {
opacity: 0;
transition: all 0.3s;
}
.mfp-move-horizontal.mfp-ready .mfp-with-anim {
opacity: 1;
transform: translateX(0);
}
.mfp-move-horizontal.mfp-ready.mfp-bg {
opacity: 0.8;
}
.mfp-move-horizontal.mfp-removing .mfp-with-anim {
transform: translateX(50px);
opacity: 0;
}
.mfp-move-horizontal.mfp-removing.mfp-bg {
opacity: 0;
} .mfp-move-from-top {   }
.mfp-move-from-top .mfp-content {
vertical-align: middle;
}
.mfp-move-from-top .mfp-with-anim {
opacity: 0;
transition: all 0.2s;
transform: translateY(-100px);
}
.mfp-move-from-top.mfp-bg {
opacity: 0;
transition: all 0.2s;
}
.mfp-move-from-top.mfp-ready .mfp-with-anim {
opacity: 1;
transform: translateY(0);
}
.mfp-move-from-top.mfp-ready.mfp-bg {
opacity: 0.8;
}
.mfp-move-from-top.mfp-removing .mfp-with-anim {
transform: translateY(-50px);
opacity: 0;
}
.mfp-move-from-top.mfp-removing.mfp-bg {
opacity: 0;
} .mfp-3d-unfold {   }
.mfp-3d-unfold .mfp-content {
perspective: 2000px;
}
.mfp-3d-unfold .mfp-with-anim {
opacity: 0;
transition: all 0.3s ease-in-out;
transform-style: preserve-3d;
transform: rotateY(-60deg);
}
.mfp-3d-unfold.mfp-bg {
opacity: 0;
transition: all 0.5s;
}
.mfp-3d-unfold.mfp-ready .mfp-with-anim {
opacity: 1;
transform: rotateY(0deg);
}
.mfp-3d-unfold.mfp-ready.mfp-bg {
opacity: 0.8;
}
.mfp-3d-unfold.mfp-removing .mfp-with-anim {
transform: rotateY(60deg);
opacity: 0;
}
.mfp-3d-unfold.mfp-removing.mfp-bg {
opacity: 0;
} .mfp-zoom-out {   }
.mfp-zoom-out .mfp-with-anim {
opacity: 0;
transition: all 0.3s ease-in-out;
transform: scale(1.3);
}
.mfp-zoom-out.mfp-bg {
opacity: 0;
transition: all 0.3s ease-out;
}
.mfp-zoom-out.mfp-ready .mfp-with-anim {
opacity: 1;
transform: scale(1);
}
.mfp-zoom-out.mfp-ready.mfp-bg {
opacity: 0.8;
}
.mfp-zoom-out.mfp-removing .mfp-with-anim {
transform: scale(1.3);
opacity: 0;
}
.mfp-zoom-out.mfp-removing.mfp-bg {
opacity: 0;
} .mfp-slide-bottom {   }
.mfp-slide-bottom .mfp-with-anim {
opacity: 0;
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;
-webkit-transform: translateY(-20px) perspective(600px) rotateX(10deg);
-moz-transform: translateY(-20px) perspective(600px) rotateX(10deg);
-ms-transform: translateY(-20px) perspective(600px) rotateX(10deg);
-o-transform: translateY(-20px) perspective(600px) rotateX(10deg);
transform: translateY(-20px) perspective(600px) rotateX(10deg);
} .mfp-slide-bottom.mfp-ready .mfp-with-anim {
opacity: 1;
-webkit-transform: translateY(0) perspective(600px) rotateX(0);
-moz-transform: translateY(0) perspective(600px) rotateX(0);
-ms-transform: translateY(0) perspective(600px) rotateX(0);
-o-transform: translateY(0) perspective(600px) rotateX(0);
transform: translateY(0) perspective(600px) rotateX(0);
} .mfp-slide-bottom.mfp-removing .mfp-with-anim {
opacity: 0;
-webkit-transform: translateY(-10px) perspective(600px) rotateX(10deg);
-moz-transform: translateY(-10px) perspective(600px) rotateX(10deg);
-ms-transform: translateY(-10px) perspective(600px) rotateX(10deg);
-o-transform: translateY(-10px) perspective(600px) rotateX(10deg);
transform: translateY(-10px) perspective(600px) rotateX(10deg);
} .mfp-slide-bottom.mfp-bg {
opacity: 0;
-webkit-transition: opacity 0.3s ease-out;
-moz-transition: opacity 0.3s ease-out;
-o-transition: opacity 0.3s ease-out;
transition: opacity 0.3s ease-out;
} .mfp-slide-bottom.mfp-ready.mfp-bg {
opacity: 0.8;
} .mfp-slide-bottom.mfp-removing.mfp-bg {
opacity: 0;
} @keyframes hinge {
0% {
transform: rotate(0);
transform-origin: top left;
animation-timing-function: ease-in-out;
}
20%,
60% {
transform: rotate(80deg);
transform-origin: top left;
animation-timing-function: ease-in-out;
}
40% {
transform: rotate(60deg);
transform-origin: top left;
animation-timing-function: ease-in-out;
}
80% {
transform: rotate(60deg) translateY(0);
opacity: 1;
transform-origin: top left;
animation-timing-function: ease-in-out;
}
100% {
transform: translateY(700px);
opacity: 0;
}
}
.hinge {
animation-duration: 1s;
animation-name: hinge;
}
.mfp-with-fade .mfp-content,
.mfp-with-fade.mfp-bg {
opacity: 0;
transition: opacity .5s ease-out;
}
.mfp-with-fade.mfp-ready .mfp-content {
opacity: 1;
}
.mfp-with-fade.mfp-ready.mfp-bg {
opacity: 0.8;
}
.mfp-with-fade.mfp-removing.mfp-bg {
opacity: 0;
}
.mfp-wqv #wqv-quick-view-content .mfp-close:focus {
outline: none;
outline-color: transparent;
}
#wqv-quick-view-content .wqv-product-info .product_title {
color: #555555;
font-size: 24px;
line-height: 32px;
text-align: left;
font-weight: 700;
margin-bottom: 10px;
}
.wqv-product-info .wqv-product-content .product_title.entry-title::after {
height: 3px;
display: block;
background-color: rgba(0, 0, 0, .1);
width: 100%;
max-width: 30px;
content: '';
margin-top: 8px;
}
#wqv-quick-view-content .wqv-product-info .price,
#wqv-quick-view-content .wqv-product-info .price .amount {
color: #111111;
font-size: 20px;
line-height: 22px;
text-align: left;
font-weight: 600;
margin-top: 10px;
margin-bottom: 10px;
}
#wqv-quick-view-content .wqv-product-info .woocommerce-product-details__short-description,
#wqv-quick-view-content .wqv-product-info .wqv-product-description {
color: #777777;
font-size: 14px;
line-height: 23px;
text-align: left;
font-weight: normal;
margin-bottom: 15px;
}
#wqv-quick-view-content .wqv-product-info .product_meta>span {
display: block;
padding: 6px 0px;
border-top: 1px solid #eaecee;
color: #777777;
font-size: 12px;
line-height: 18px;
text-align: left;
font-weight: normal;
}
.wqv-product-info form.cart {
margin-bottom: 10px;
overflow: hidden;
}
#wqv-quick-view-content .wqv-product-info ul.products li.product .button,
#wqv-quick-view-content .wqv-product-info .single_add_to_cart_button.button:not(.components-button):not(.customize-partial-edit-shortcut-button) {
color: #ffffff;
font-size: 13px;
line-height: 35px;
text-align: center;
text-transform: capitalize;
font-weight: 600;
background: #444444;
padding: 0px 16px 0px 16px;
border-radius: 3px;
transition: all 0.3s ease;
}
.wqv-product-info .quantity {
float: left;
display: inline;
width: auto;
min-width: inherit !important;
border: none;
padding: 0;
margin: 0;
line-height: 38px;
}
.wqvp-fancybox-wrapper .fancybox-toolbar {
top: 30px;
} @media (max-width: 768px) {
.wqv-product-images {
display: block;
float: inherit;
width: auto;
}
.wqv-product-images img {
width: 100%;
}
.wqv-product-info {
display: block;
float: inherit;
padding: 30px 15px 0;
width: auto;
}
}
@media (max-width: 1022px) {
.mfp-wqv .sp-wqv-content {
max-width: 430px;
max-height: inherit;
display: block;
}
.mfp-wqv .wqv-product-info,
.mfp-wqv .wqv-product-images {
width: 100%;
height: auto;
}
}.sp-text-left{
text-align: left;
}