.woof_container{
padding-bottom: 5px;
margin-bottom: 9px;
}
.woof_container select{
width: 100%;
}
.woof_container label{
display: inline-block !important;
}
ul.woof_list{
margin: 0 !important;
list-style: none !important;
}
li.woof_list{
list-style: none !important;
}
.woof_list li{
list-style: none !important;
padding: 0 0 5px 0 !important;
}
.woof_block_html_items ul{
margin-left: 0;
}
.woof_list label{
vertical-align: middle;
padding-top: 4px;
padding-bottom: 4px;
display: inline-block;
}
.woof_childs_list{
margin: 7px 0 0 15px !important;
} .woof_auto_show{
position: relative;
z-index: 1001;
}
.woof_sid_auto_shortcode .woof_container{
float: left;
width: 33%;
min-width: 150px;
}
.woof_sid_auto_shortcode .woof_container_inner{
padding-left: 5px;
}
.woof_submit_search_form{
float: left;
}
.woof_submit_search_form_container{
overflow: hidden;
clear: both;
margin: 9px 0 15px 0;
display: flex;
justify-content: space-between;
}
li.woof_childs_list_li{
padding-bottom: 0 !important;
} div.woof_info_popup {
position: fixed;
top: 48%;
left: 48%;
z-index: 10001;
display: none;
overflow: hidden;
padding: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background-color: rgba(0,0,0,.6);
-webkit-box-shadow:
inset 0 0 0 1px rgba(0,0,0,.6),
inset 0 0 0 2px rgba(255,255,255,.2);
-moz-box-shadow:
inset 0 0 0 1px rgba(0,0,0,.6),
inset 0 0 0 2px rgba(255,255,255,.2);
box-shadow:
inset 0 0 0 1px rgba(0,0,0,.6),
inset 0 0 0 2px rgba(255,255,255,.2);
color: #fff;
font-size: 22px;
font-family: 'Oswald',sans-serif;
} p.woof_tooltip {
position: relative;
display: inline;
line-height: normal !important;
}
p.woof_tooltip span.woof_tooltip_data {
position: absolute;
width:auto;
min-width: 140px;
max-width: 300px;
color: #FFFFFF;
background: #000000;
height: auto;
min-height: 21px;
line-height: 21px;
vertical-align: middle;
text-align: center;
visibility: hidden;
border-radius: 6px;
margin-top: -30px;
}
p.woof_tooltip span.woof_tooltip_data:after {
}
p:hover.woof_tooltip span.woof_tooltip_data {
visibility: visible;
opacity: 0.8;
bottom: 10px;
left: 50%;
margin-left: -74px;
z-index: 999;
}
.woof_tooltip_title{
display: none;
}
.woof_step .price_slider_amount .button{
display: none;
}
.woof_products_top_panel{
overflow: hidden;
line-height: 32px;
margin: 5px 0 15px 0;
display: none;
position: relative;
z-index: 99;
clear: both;
}
.woof_products_top_panel_ul li ul li{
margin: 0 5px 0 0 !important;
}
.woof_reset_button_2{
padding: 2px 7px;
}
.woof_products_top_panel ul{
margin: 0 !important;
padding: 0 !important;
}
.woof_products_top_panel li{
float: left;
margin: 0 15px 0 0 !important;
list-style: none !important;
}
.woof_products_top_panel li a{
text-decoration: none;
}
.woof_products_top_panel li a:hover{
text-decoration: none;
}
.woof_products_top_panel li span{
padding-right: 16px;
background: url(//jaluzi-test.mcdir.ru/wp-content/plugins/woocommerce-products-filter/img/delete.png);
background-size: 14px 14px;
background-repeat: no-repeat;
background-position: right;
}
.woof_products_top_panel li span:hover{
background-size: 14px 14px;
} .woof_sid_auto_shortcode{
background: #fff;
border:solid 2px #aaa;
border-radius: 3px;
-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
box-shadow:inset 0px 1px 0px 0px #ffffff;
background: #fefefe;
margin-bottom: 11px;
clear: both;
}
.woof_sid_auto_shortcode.woof{
padding: 16px;
}
.woof_edit_view{
position: relative;
float: right;
clear: both;
opacity: 0.7;
z-index: 9999;
margin-top: -20px;
}
.woof_container_overlay{
position: relative;
border:solid 1px orange;
}
.woof_container_setter{
position: relative;
}
.woof_container_overlay_item{
display: none;
color: red;
padding: 4px;
}
.woof_container_overlay .woof_container_setter_link{
display: inline-block;
position: relative;
float: right;
clear: both;
opacity: 0.8;
}
.woof_show_auto_form,.woof_hide_auto_form{
display: inline-block !important;
margin-bottom: 3px !important;
}
.woof_show_auto_form, .woof_hide_auto_form{
background: url(//jaluzi-test.mcdir.ru/wp-content/plugins/woocommerce-products-filter/img/autoshow_button.png);
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 32px;
height: 32px;
display: inline-block;
background-repeat: no-repeat;
}
.woof_show_auto_form_txt.woof_show_auto_form,.woof_show_auto_form_txt.woof_hide_auto_form{
width: auto;
height: auto;
background: none;
}
.woocommerce-ordering{
position: relative;
z-index: 3;
}
.woof_auto_show .woof_redraw_zone{
position: relative;
z-index: 1001;
}
.woof_auto_show .woof_price_search_container{
position: relative;
z-index: 1002;
}
.woof_price_search_container .price_slider_amount .price_label{
float: left !important;
display: inline-block;
text-align: right !important;
}
.woof_childs_list_opener{
vertical-align: middle;
margin-left: 4px;
display: inline-block !important;
}
.woof_childs_list_opener span{
display: inline-block;
background-size: cover !important;
background-repeat: no-repeat !important;
background-position: right;
width: 18px;
height: 18px;
}
.woof_childs_list_opener span.woof_is_closed{
background: url(//jaluzi-test.mcdir.ru/wp-content/plugins/woocommerce-products-filter/img/plus2.png);
}
.woof_childs_list_opener span.woof_is_opened{
background: url(//jaluzi-test.mcdir.ru/wp-content/plugins/woocommerce-products-filter/img/minus2.png);
}
.woof_childs_list_opener span:hover{
background-size: 18px 18px;
}
.woof_list_checkbox li div{
margin-top: 3px;
}
.woof_list li{
margin: 0 3px 0 3px !important;
} .woof .widget_price_filter .price_slider {
margin-bottom: 1em;
}
.woof .widget_price_filter .price_slider_amount {
text-align: right;
line-height: 2.4em;
font-size: 0.8751em;
}
.woof .widget_price_filter .price_slider_amount .button {
font-size: 1.15em;
float: right !important;
}
.woof .widget_price_filter .ui-slider {
position: relative;
text-align: left;
}
.woof .widget_price_filter .ui-slider .ui-slider-handle {
position: absolute;
z-index: 2;
width: 0.9em;
height: 0.9em;
-webkit-border-radius: 1em;
-moz-border-radius: 1em;
border-radius: 1em;
border: 1px solid #141741;
cursor: pointer;
background: #2d338e;
outline: none;
}
.woof .widget_price_filter .ui-slider .ui-slider-handle:last-child {
margin-left: -0.5em;
}
.woof .widget_price_filter .ui-slider .ui-slider-range {
position: absolute;
z-index: 1;
font-size: .7em;
display: block;
border: 0;
background: #c0132c;
-webkit-border-radius: 1em;
-moz-border-radius: 1em;
border-radius: 1em;
}
.woof .widget_price_filter .price_slider_wrapper .ui-widget-content {
-webkit-border-radius: 1em;
-moz-border-radius: 1em;
border-radius: 1em;
background: #d5d5d5;
}
.woof .widget_price_filter .ui-slider-horizontal {
height: .5em;
}
.woof .widget_price_filter .ui-slider-horizontal .ui-slider-range {
top: 0;
height: 100%;
}
.woof .widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
left: -1px;
}
.woof .widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
right: -1px;
}
.woof .widget_price_filter .ui-slider .ui-slider-range {
background-color: #a46497;
border: 0 none;
border-radius: 1em;
display: block;
font-size: 0.7em;
position: absolute;
z-index: 1;
}
.woof .widget_price_filter .ui-slider-horizontal .ui-slider-range {
height: 100%;
top: 0;
}
.woof .widget_price_filter .ui-slider-horizontal .ui-slider-range {
height: 100%;
top: 0;
}
.woof .widget_price_filter .ui-slider .ui-slider-range {
background-color: #a46497;
border: 0 none;
border-radius: 1em;
display: block;
font-size: 0.7em;
position: absolute;
z-index: 1;
}
.woof .widget_price_filter .ui-slider .ui-slider-handle {
background-color: #a46497;
border-radius: 1em;
cursor: ew-resize;
height: 1em;
margin-left: -0.5em;
outline: 0 none;
position: absolute;
width: 1em;
z-index: 2;
}
.woof .widget_price_filter .price_slider_wrapper .ui-widget-content {
background-color: #602053;
border: 0 none;
border-radius: 1em;
}
.woof .widget_price_filter .price_slider_wrapper .ui-widget-content {
background: none repeat scroll 0 0 #d5d5d5;
border-radius: 1em;
}
.woof .widget_price_filter .ui-slider-horizontal {
height: 0.5em;
}
.woof .widget_price_filter .ui-slider {
margin-left: 0.5em;
margin-right: 0.5em;
position: relative;
text-align: left;
}
.woof .woocommerce .widget_price_filter .price_slider {
margin-bottom: 1em;
}
.woof .widget_price_filter .ui-slider-horizontal {
height: 0.5em;
}
.woof .widget_price_filter .ui-slider {
position: relative;
text-align: left;
}
.woof .widget_price_filter .price_slider {
margin-bottom: 1em;
}
.woof_overflow_hidden{
overflow: hidden;
}
.woof .chosen-drop{
z-index: 10001 !important;
}
.chosen-results{
z-index: 10001 !important;
}
.woof .chosen-container-multi .chosen-choices li.search-field input[type="text"]{
min-height: 18px !important;
}
.woof_sid_widget .woof_edit_view{
display: none;
}
.woof_section_scrolled{
overflow: auto;
overflow-x: hidden;
margin-bottom: 3px;
}
.woof_price_filter_dropdown{
width: 100%;
}
.chosen-results li{
margin-left: 0 !important;
}
.woof-padding-1{
padding-left: 12px !important;
}
.woof-padding-2{
padding-left: 24px !important;
}
.woof-padding-3{
padding-left: 36px !important;
}
.woof-padding-4{
padding-left: 48px !important;
}
.woof-padding-5{
padding-left: 60px !important;
} .chosen-container{
margin-bottom: 3px;
max-width: 100%;
}
.woof_search_is_going nav.woocommerce-breadcrumb+h1.page-title{
display: none;
}
.woof_search_is_going nav.woocommerce-breadcrumb{
display: none;
}
.woof_checkbox_label{
margin-left: 7px;
}
.woof_checkbox_label_selected{
font-weight: bold;
}
.woof_radio_label_selected{
font-weight: bold;
}
.woof_checkbox_count{
margin-left: 3px;
}
.woof_radio_label{
margin-left: 5px;
}
.woof_radio_count{
margin-left: 2px;
}
a.woof_front_toggle{
float:right;
}
.woof_closed_block{
display: none;
}
.woof_radio_term_reset_visible{
display: inline-block !important;
padding: 2px 0 0 7px;
}
.woof label{
cursor: pointer;
}
.woof_hidden_term{
display: none !important;
}
.woof_open_hidden_li{
clear:both;
display: block !important;
text-align: center;
}
.woof_open_hidden_li a{
outline: none !important;
}
.woof_open_hidden_li img{
box-shadow: none !important;
}
a.woof_start_filtering_btn{
display: inline-block;
padding: 9px 12px;
border: solid 2px #ccc;
border-radius: 7px; text-decoration: none !important;
transition: all .5s;
}
a.woof_start_filtering_btn:hover{
color: #0073d2 !important;
border-color: #0073d2;
text-decoration: none;
}
a.woof_start_filtering_btn2{
display: inline-block;
padding: 9px 12px;
border: solid 2px #0073d2;
border-radius: 7px;
text-decoration: none !important;
color: #0073d2 !important;
}
.woof_price_filter_txt{
width: 75px !important;
}
a.chosen-single{
text-decoration: none !important;
}
.chosen-container-single .chosen-single span{
font-size:15px;
}
.chosen-container-single .chosen-single{
height:27px !important;
line-height: 25px !important;
}
.chosen-container-single .chosen-single div b{
background-position: 0 4px !important;
} .woof_sid_flat_grey .chosen-container-single .chosen-single{
border-radius: 0px;
background: none;
background-color: #fff;
box-shadow: none;
border: 2px solid #aaa;
}
.woof_sid_flat_grey .chosen-container-active.chosen-with-drop .chosen-single {
border: 2px solid #aaa;
border-radius: 0;
background-image: none;
box-shadow: none;
}
.woof_sid_flat_grey .chosen-container-active{
background: none;
background-color: #fff;
box-shadow: none;
}
.woof_sid_flat_grey .chosen-container-multi .chosen-choices{
background-image: none;
border: 2px solid #aaaaaa;
}
.woof_sid_flat_grey  .chosen-container-active .chosen-choices{
box-shadow: none;
border: 2px solid #97b6be;
}
.woof_sid_flat_grey  .chosen-container .chosen-results li.highlighted {
background-color: #97b6be;
background-image: none;
color: #fff;
}
.woof_sid_flat_grey .chosen-container-multi .chosen-choices li.search-choice , .woof_sid_flat_dark .chosen-container-multi .chosen-choices li.search-choice {
border: 2px solid #aaa;
border-radius: 0px;
background-color: transparent;
;
background-image:none;
box-shadow: none;
}
.woof_sid_flat_grey .chosen-container .chosen-drop{
border: 2px solid #aaa;
border-top: 0;
background: #fff;
box-shadow: none;
}
.woof_sid_flat_grey .woof_submit_search_form_container button{
border: 2px solid #aaa;
background: #fff;
box-shadow: none;
}
.woof_sid_flat_grey .woof_submit_search_form_container button:hover{
background-color: #97b6be;
}
.woof_sid_flat_grey .woof_submit_search_form_container, .woof_sid_flat_dark .woof_submit_search_form_container {
margin: 0px;
}
.woof_sid_flat_grey .woof_redraw_zone select,.woof_sid_flat_grey .woof_redraw_zone input{
width: 100%;
}
.woof_sid_flat_grey .irs-bar, .woof_sid_flat_dark .irs-bar {
border-top: 1px solid #97b6be;
border-bottom: 1px solid #97b6be;
background: #97b6be;
}
.woof_sid_flat_grey .irs-from, .woof_sid_flat_grey .irs-to, .woof_sid_flat_grey .irs-single {
color: #fff;
background: #97b6be;
}
.woof_sid_flat_dark .irs-from, .woof_sid_flat_dark .irs-to, .woof_sid_flat_dark .irs-single {
color: #fff;
background: #97b6be;
}
.woof_sid_flat_grey .irs-slider, .woof_sid_flat_dark .irs-slider{
border: 2px solid #AAA;
background: #DDD;
box-shadow: 0px 0px 0px rgba(0,0,0,0.3);
}
.woof_sid_flat_grey .irs-line, .woof_sid_flat_grey .irs-line{
background: #EEE;
border: 2px solid #AAA;
}
.woof_sid_flat_grey .woof_container h4 {
margin-bottom: 11px!important;
font-size: 1.32em!important;
background: #a0bcc385;
padding: 11px 7px;
color: #333;
line-height: 1.12em!important;
text-align: center;
}
.woof_sid_flat_grey {
background: #fff;
border: solid 2px #aaa;
background: #fdfdfd;
margin-bottom: 11px;
margin-top: 30px;
padding: 12px;
}
.woof_sid_flat_grey .woof_select_radio_check dt.woof_select_radio_check_opened a {
background-color: #a0bcc385;
color: #fff !important;
border: solid 1px #fff;
}
.woof_sid_flat_grey .woof_select_radio_check dt a {
border: solid 2px #aaa;
border-radius: 0px;
}
.woof_sid_flat_grey .woof_color_term:hover , .woof_sid_flat_dark .woof_color_term:hover{
border-color: #444;
transform: scale(1.1, 1.1);
transition-duration: 1s;
border-style: solid;
}
.woof_sid_flat_grey .woof_color_term.checked , .woof_sid_flat_dark .woof_color_term.checked {
transform: scale(1.1, 1.1);
}
.woof_sid_flat_grey .woof_color_term , .woof_sid_flat_dark .woof_color_term  {
border-radius: 0px;
}
.woof_sid_flat_dark {
border: solid 2px #aaa;
background: #4e4d4d;
margin-bottom: 11px;
margin-top: 30px;
padding: 12px;
color: #e2e6e7;
}
.woof_sid_flat_dark .woof_redraw_zone select,.woof_sid_flat_dark .woof_redraw_zone input{
width: 100%;
}
.woof_sid_flat_dark .chosen-container-single .chosen-single{
border-radius: 0px;
background: none;
background-color: #4e4d4d;
box-shadow: none;
border: 2px solid #e2e6e7;
color: #e2e6e7;
}
.chosen-container .chosen-drop {
border: 2px solid #4d4d4;
background: #4e4d4d;
box-shadow: 0 0px 0px rgba(0,0,0,0);
}
.woof_sid_flat_dark .chosen-container-active.chosen-with-drop .chosen-single {
border: 2px solid #e2e6e7;
border-radius: 0;
background-image: none;
box-shadow: none;
}
.woof_sid_flat_dark .chosen-container-active{
background: none;
background-color: #4e4d4d;
box-shadow: none;
}
.woof_sid_flat_dark .chosen-container-multi .chosen-choices{
background-image: none;
background-color: #4e4d4d;
border: 2px solid #e2e6e7;
}
.woof_sid_flat_dark .chosen-container-multi ul.chosen-choices li.search-field input{
color: #e2e6e7;
}
.woof_sid_flat_dark .chosen-container .chosen-results li.no-results {
background: #97b6be;
}
.woof_sid_flat_dark  .chosen-container-active .chosen-choices{
box-shadow: none;
border: 2px solid #e2e6e7;
}
.woof_sid_flat_dark  .chosen-container .chosen-results li.highlighted {
background-color: #97b6be;
background-image: none;
color: #e2e6e7;
}
.woof_sid_flat_dark .chosen-container .chosen-drop{
border: 2px solid #e2e6e7;
border-top: 0;
background: #4e4d4d;
box-shadow: none;
}
.woof_sid_flat_dark .chosen-container-single .chosen-drop {
border-radius: 0px;
}
.woof_sid_flat_dark .woof_color_term{
border: 0px solid #e2e6e7;
}
.woof_sid_flat_dark .woof_color_term.checked {
border: 3px solid #e2e6e7;
}
.woof_sid_flat_dark .woof_container h4 {
margin-bottom: 11px!important;
font-size: 1.32em!important;
background: #a0bcc385;
padding: 11px 7px;
color: #e2e6e7;
line-height: 1.12em!important;
text-align: center;
}
.woof_sid_flat_dark .woof_submit_search_form_container button{
border: 2px solid #e2e6e7;
background: #4e4d4d;
box-shadow: none;
color: #e2e6e7;
}
.woof_sid_flat_dark .woof_submit_search_form_container button:hover{
background-color: #97b6be;
}
.woof_sid_flat_dark .woof_select_radio_check dt.woof_select_radio_check_opened a {
background-color: #a0bcc385;
color: #e2e6e7 !important;
border: solid 2px #e2e6e7;
}
.woof_sid_flat_dark .woof_select_radio_check dt a {
background-color: #4e4d4d;
color: #e2e6e7 !important;
border: solid 2px #e2e6e7;
border-radius: 0px;
}
.woof_sid_flat_dark .woof_select_radio_check dd ul.woof_list {
background-color: #4e4d4d;
color: #e2e6e7;
}
.woof_sid_flat_dark input[type=search]:focus, .woof_sid_flat_dark input[type=text]:focus, .woof_sid_flat_dark  textarea:focus {
background: #a0bcc385;
color: #e2e6e7;
}
.woof_sid_flat_dark .woof_text_search_container input[type='search'], .woof_sid_flat_dark input[type='search']  {
background: #4e4d4d;
color: #e2e6e7;
border: solid 2px #e2e6e7;
}
.woof_sid_flat_dark .woof_text_search_container input[type='search']::placeholder , .woof_sid_flat_dark  input[type='search']::placeholder { color: #a0bcc3;
opacity: 1; }
.woof_sid_flat_dark .irs-max , .woof_sid_flat_dark .irs-min{
background: #a0bcc385;
color: #e2e6e7;
}
.woof_sid_flat_grey .woof_list_label li .woof_label_term:hover, .woof_sid_flat_grey .woof_list_label li .woof_label_term.checked {
background-color: #97afb5;
border-color: #a0bcc385;
color: #fff;
}
.woof_sid_flat_dark .woof_list_label li .woof_label_term:hover, .woof_sid_flat_dark .woof_list_label li .woof_label_term.checked {
background-color: #a0bcc385;
border-color: #a0bcc385;
color: #e2e6e7;
}
.woof_sid_flat_dark .woof_list_label li .woof_label_term{
color: #728a90;
}
.woof_sid_flat_dark .easy-autocomplete-container ul {
background: none repeat scroll 0 0 #4e4d4d;
;
border-top: 1px dotted #ccc;
display: none;
margin-top: 0;
padding-bottom: 0;
padding-left: 0;
position: relative;
top: -1px;
}
.woof_sid_flat_dark .easy-autocomplete-container ul li.selected {
background: none repeat scroll 0 0 #a0bcc385;
} .woof_auto_4_columns .woof_container {
display: inline-block;
vertical-align: top;
width: 24%;
padding: 5px;
min-width: 150px;
}
.woof_auto_3_columns .woof_container {
display: inline-block;
vertical-align: top;
width: 32%;
padding: 5px;
min-width: 150px;
}
.woof_auto_2_columns .woof_container {
display: inline-block;
vertical-align: top;
width: 49%;
padding: 5px;
min-width: 150px;
}
.woof_auto_1_columns .woof_container {
display: inline-block;
vertical-align: top;
width: 100%;
padding: 5px;
min-width: 150px;
}
.woof_auto_1_columns .woof_list_checkbox li,.woof_auto_1_columns .woof_list_radio li{
}
.woof_auto_1_columns .woof_authors li{
display: inline-block;
margin-left: 10px;
}
.woof_auto_1_columns .woof_container_select_radio_check .woof_list_checkbox li, .woof_auto_1_columns .woof_container_select_radio_check .woof_list_radio li{
display: block;
}
input.woof_checkbox_term, input.woof_radio_term{
vertical-align: middle;
}  @media only screen and (max-width : 1200px) {
} @media only screen and (max-width : 992px) {
.woof_sid_auto_shortcode .woof_container{
clear: both;
width: 100%;
}
.woof_sid_auto_shortcode .woof_container .chosen-container{
width: 100% !important;
}
.woof_sid_auto_shortcode .woof_container_select .woof_block_html_items,
.woof_sid_auto_shortcode .woof_container_slider .woof_block_html_items,
.woof_sid_auto_shortcode .woof_by_rating_container .woof_container_inner{
height: auto !important;
min-height: auto !important;
max-height: auto !important;
}
}
.easy-autocomplete-container ul{
margin: 0 !important;
}
.woof_tooltip_templates{
display: none;
}
.woof_container_inner .woof_tooltip_header{
display: inline-block;
height: 15px;
width: auto;
vertical-align: top;
}
.woof_tooltip_title{
font-size: 18px;
font-weight: bold;
color: #2c2c2c;
}
.woof_container .woof_container_inner input[type="search"] {
line-height: normal !important;
}
.woof_star_font,.woof_star_selected select {
font-family: 'star';
color: #96588a;
}
.woof_star_selected .chosen-single span{
font-family: 'star';
color: #96588a;
}
.woof_price_filter_txt_slider .woof_price_filter_txt_from{
float: left;
}
.woof_price_filter_txt_slider .woof_price_filter_txt_to{
float: right;
}
.woof_price_filter_txt_slider{
height: 35px;
}
.woof_price_filter_txt_slider input[type='number']{
padding: 2px 7px;
border: solid 1px #ccc;
background: #fff;
} @media only screen and (max-width : 768px) {
} @media only screen and (max-width : 600px) {
} @media only screen and (max-width : 480px) {
}
ul.chosen-choices{
padding: 5px !important;
} .woof_hide_filter{
display: none;
}
.woof_show_filter_for_mobile.woof {
position: fixed;
top: 100%;
background: white;
z-index: 9999;
overflow: auto;
height: 100%;
display: block !important;
width: 100%;
right: 0px;
padding: 30px;
padding-bottom: 100px;
animation: move_top .5s ease ;
animation-fill-mode: forwards;
}
.woof_hide_mobile_filter img, .woof_show_mobile_filter img{
display: inline-block;
width: 30px;
}
.woof_hide_mobile_filter span, .woof_show_mobile_filter span{
font-size: 20px;
display: inline-block;
vertical-align: top;
font-weight: 600;
}
.woof_hide_mobile_filter{
margin-bottom: 10px;
display: none;
cursor: pointer;
}
.woof_show_filter_for_mobile .woof_hide_mobile_filter{
display: block;
}
@keyframes move_top {
100% {
top: 30px;
}
} .woof_price_search_container .price_slider_amount .price_label{
text-align: left !important;
}
.woof .widget_price_filter .price_slider_amount .button {
float: left;
}
.woof_float_none{
float: none;
}  .woof_use_beauty_scroll::-webkit-scrollbar {
width: 6px;
} .woof_use_beauty_scroll::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
-webkit-border-radius: 10px;
border-radius: 10px;
} .woof_use_beauty_scroll::-webkit-scrollbar-thumb {
-webkit-border-radius: 10px;
border-radius: 10px;
background: rgba(120,120,120,0.8);
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.woof_use_beauty_scroll::-webkit-scrollbar-thumb:window-inactive {
background: rgba(120,120,120,0.4);
}