* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  outline: none !important;
}

#content-wrap {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container-fluid {
  padding: 0 75px;
}

.form-control {
  border-radius: 30px;
}

.input-group-text {
  border-radius: 30px;
}

.nav-link {
  padding: 12px;
  color: black;
}

.nav-link:hover,
.nav-link:focus {
  color: red;
}

.nav-item {
  padding: 0 0.75rem;
}

.navbar-logo {
  width: 200px;
  height: 60px;
}

.strong {
  font-weight: bold;
}

header:hover {
  color: red !important;
}

.max-w-120 {
  max-width: 120% !important;
}

.carousel-indicators [data-bs-target] {
  background-color: white;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
  opacity: 1;
}

.carousel-indicators [data-bs-target].active {
  background-color: red;
}

.carousel-caption {
  color: black;
  bottom: 30%;
  left: 12%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  text-align: start;
}

.btn-shop-now {
  background-color: red;
  border-radius: 20px;
  color: white;
  font-size: 0.9rem;
}

.btn-shop-now:hover {
  background-color: black;
  color: white;
}

.card-title:hover {
  color: red;
  cursor: pointer;
}

.swiper-button-prev {
  position: absolute;
}

.btn-primary {
  padding: 0;
  background-color: white;
  border: white;
  color: black;
  font-size: 14px;
}

.btn-primary:hover {
  background-color: white;
  color: red;
  position: relative;
  left: 10px;
}

.btn-primary svg {
  color: red;
}

.category {
  overflow: hidden;
  white-space: normal !important;
  font-size: 12px !important;
  line-height: 1 !important;
  max-height: 12px;
  text-transform: uppercase;
  margin-bottom: 10px !important;
  font-style: normal !important;
  text-align: center;
}

.category a {
  color: black;
  opacity: 0.6;
}

.category a:hover {
  color: red;
  opacity: 1;
}

.title {
  text-transform: capitalize;
  line-height: 18px !important;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 18px;
  font-weight: 700;
  font-size: 14px !important;
  text-align: center;
}

.title a {
  color: black;
  text-decoration: none;
}

.title a:hover {
  color: red;
}

.inner {
  text-align: center;
}

.price {
  font-weight: 400;
  line-height: 20px;
  font-size: 15px;
}

.border_hover {
  transition: 0.3s;
}

.border_hover:hover {
  border: 1px solid red;
  cursor: pointer;
  transition: 0.3s;
}

.site-logo {
  width: 200px;
  height: 60px;
}

.footer__phone,
.footer__email,
.footer__address,
.footer__mode {
  font-size: 1.2rem;
  color: #253237;
  margin-bottom: 10px;
}

.footer__phone i::before,
.footer__email i::before,
.footer__address i::before,
.footer__mode i::before {
  color: red;
  margin-right: 10px;
}

.footer__title {
  padding-left: 0;
  border-left: 0;
  border-right: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #e3e3e3;
  position: relative;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 16px;
  color: #253237;
  line-height: 1.5;
  text-transform: capitalize;
}

.footer__title::before {
  content: "";
  width: 60px;
  height: 2px;
  background-color: #ef1e1e;
  position: absolute;
  bottom: 0;
  left: 0;
}

.social :hover {
  color: red;
  transition: 0.2s;
}

.bg__wrapper {
  background: center center no-repeat url("/wp-content/themes/jaluzi24/app/imgoptimize/page-title.jpg");
  padding: 110px 0;
}

.page__heading {
  font-size: 30px;
  color: #253237;
  margin-bottom: 10px;
  font-weight: 600;
}

.breadcrumb-item {
  color: #253237;
  font-size: 14px;
}

.breadcrumb-item.active {
  color: #ef1e1e;
}

a {
  color: #253237;
}

a:hover {
  color: #ef1e1e;
}

ul li {
  margin: 0;
  padding: 0;
}

.widget__sidebar {
  padding-right: 30px;
}

.widget__search {
  background-color: white !important;
  color: #253237 !important;
  border-radius: 30px;
  border: 1px solid #ebebeb !important;
  width: 100%;
  padding: 0 15px;
  margin-bottom: 40px;
}

.category__list {
  margin-bottom: 40px;
}

.category__item {
  list-style: none;
  margin-bottom: 8px;
  line-height: 1.5;
}

.block__title {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #253237;
  letter-spacing: 1px;
  margin: 0 0 20px;
}

.recent__post > h4 {
  margin: 0 0 20px;
}

.post__list {
  margin-left: 0;
}

.post__item {
  display: flex;
  padding: 0 0 15px 0;
  margin-bottom: 15px;
}

.post__item:not(:last-child) {
  border-bottom: 1px solid #e9e9e9;
}

.post__image {
  max-width: 80px;
  margin-right: 15px;
  box-sizing: border-box;
}

.post__description {
  max-width: 215px;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  margin: 0;
}

.post__date {
  font-size: 13px;
  color: #aaa;
  margin: 0;
}

.description__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog__entry {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e9e9e9;
}

.entry__image {
  padding-left: 0;
}

.category__title {
  display: block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.6px;
  line-height: 1.2em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #ef1e1e;
}

.category__title:hover {
  color: #253237;
}

.entry__link {
  font-weight: 700;
  font-size: 18px;
  color: #253237;
  text-transform: capitalize;
}

.entry__preview {
  margin-bottom: 15px;
  border-bottom: 1px solid #e9e9e9;
}

.entry__bottom {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

ul.meta {
  display: inline-block;
  width: 100%;
  color: #777;
  font-size: 14px;
  line-height: 1;
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
}

ul.meta li {
  float: left;
  line-height: 1.3;
}

ul.meta li i::before {
  color: red;
}

ul.meta li:not(:last-child):after {
  content: "-";
  padding: 0 6px;
}

.theme-heading {
  font-size: 18px;
  letter-spacing: 1.3px;
  font-weight: 600;
  margin: 0 0 20px;
  text-transform: uppercase;
}

.text i::before {
  color: red;
  font-weight: 800 !important;
}

.comment-form textarea,
.comment-form input {
  background-color: #fff !important;
  color: #253237 !important;
  border-radius: 30px;
  border: 1px solid #ebebeb !important;
  width: 100%;
}

.related-post-title a {
  font-size: 16px;
  font-weight: 600 !important;
}

button.submit {
  border-radius: 30px;
  background-color: #253237 !important;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}

button.submit:hover {
  background-color: #ef1e1e !important;
}

.single-post-title {
  font-weight: 600;
  color: #253237;
  line-height: 1;
  text-transform: capitalize;
}

.price {
  font-size: 22px;
}

.textproduct ul {
  margin: 0;
}

.textproduct ul i::before {
  color: red;
}

.btn-quantity > * {
  line-height: 48px;
  font-size: 20px;
  display: block;
  float: left;
  width: 45px;
  min-height: 36px;
  background-color: transparent;
  border: 1px solid #e4e4e4;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

.minus {
  border-radius: 30px 0 0 30px;
  border-right-width: 0;
  color: #777;
}

.plus {
  border-radius: 0 30px 30px 0;
  border-left-width: 0;
  color: #777;
}

.single_add_to_cart_button {
  height: 50px;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-right: 10px;
  text-transform: uppercase;
  letter-spacing: 0;
  background-color: #ef1e1e;
  color: white;
  border-radius: 30px;
}

.single_add_to_cart_button:hover {
  background-color: #253237;
  color: white;
}

.product_meta span {
  display: block;
  font-size: 15px;
  font-weight: 600;
}

.product_meta .sku {
  font-weight: 400;
}

.product_meta .posted_in a,
.product_meta .tagged_as a {
  color: #ababab;
  font-weight: 400;
}

.product_meta .posted_in a:hover,
.product_meta .tagged_as a:hover {
  color: red;
}

.product-share ul {
  margin: 0;
}

.product-share ul::before {
  content: "Share";
  display: inline-block;
  margin-right: 1rem;
  color: #253237;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
}

.product-share ul li {
  display: inline;
  margin-right: 1rem;
}

.product-share ul li i {
  color: #b4b4b4;
}

.product-share ul li i:hover {
  color: red;
}

.box {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px dashed #ef1e1e;
  text-align: center;
}

.box i {
  color: #888;
  font-size: 45px;
  display: block;
}

.box span {
  font-size: 18px;
  color: #253237;
}

ul.tabs {
  border: none;
  display: block;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  z-index: 1;
  margin: 0;
}

ul.tabs li {
  white-space: nowrap;
  display: inline-block;
  padding: 0px 20px;
}

ul.tabs li.active > a {
  color: #253237 !important;
}

ul.tabs li.active > a::after {
  transform: scaleX(1);
}

ul.tabs li a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border: none;
  text-transform: uppercase;
  padding: 0 0 20px;
  color: #888;
  display: inline-block;
  position: relative;
}

ul.tabs li a::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background-color: #ef1e1e;
  transform: scaleX(0);
  transition: transform 0.3s;
  transform-origin: 50%;
  position: absolute;
  bottom: 0;
}

ol.commentlist {
  width: 100%;
  background: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.comment_container {
  position: relative;
  border-bottom: 1px solid;
  margin-bottom: 15px;
  font-size: 90%;
  min-height: 85px;
  padding-left: 90px;
  border-color: #eaeaea;
  display: flex;
}

img.avatar {
  position: absolute;
  left: 0;
  border-radius: 50%;
}

.about-brands-content > h4 {
  font-weight: 600;
  margin: 0 0 20px;
  color: #333;
  line-height: 1.4;
}

.related-products {
  margin-top: 70px;
}

.related-products h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 1;
  position: relative;
  padding-bottom: 15px;
}

.related-products h2::before {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #ef1e1e;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.breadcrumb_last {
  color: #ef1e1e;
}

.woocommerce-product-gallery__trigger {
  display: inline-block;
  font-family: "FontAwesome";
  font-size: inherit;
  text-rendering: auto;
  display: block;
  content: "\f002";
  line-height: 32px;
  text-indent: 0;
  position: absolute;
  z-index: 1;
  left: 15px;
}

.form-submit {
  float: left;
}

.form-submit input {
  color: #fff !important;
  background-color: #253237 !important;
}

.form-submit input:hover {
  background-color: #ef1e1e !important;
}

ul.products {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

ul.products li.product {
  flex: 0 0 23%;
  margin-right: 2%;
}

@media (min-width: 768px) {
  .carousel-caption {
    bottom: none;
  }
}